f<!Doctype html>
<html>
  <head>
    <title>Engineering Careers</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}

    <div class="container">
    <h1 class="text-center mt-2 mb-4">Carrer After Computer  Engineering<h1> 
  
      <h2 class="text-center">About Python</h2>
      <div class="row"style="margin-bottom:16px;">
        <div class="col-6">
          <p classlass="lead">Python is a high-level, general-purpose programming language that is easy to read and write. It supports multiple programming paradigms, such as object-oriented, functional and procedural. It has a large standard library that provides many useful modules and packages. You can download Python from its official website or use online platforms like W3Schools to learn and practice it.

</p>
          </div>
          <div class="col-6">
            <img src="/static/people.jpg"style="height:360px;
              border-radius:4px;">
          </div>  
        </div>     
        

      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitems.html' %}
        
        {% endfor %}
           
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-large">Contact Us</button>
        <p class="mt-2">copyrigth 2022</p>
      </div>
    </div>   
      {% include 'footer.html' %}
     
   </body>
</html>